header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    .main-nav{
        display: flex;
        justify-content: space-between;
        gap: 60px;
        font-size: 14px;
    }
    img{
        width: 150px;
    }
}
